.button {
  &::before {
    font-size: 1.5rem;
    content: '+';
  }

  span {
    display: none;
  }

  @include mobile {
    padding: 15px;

    &::before {
      display: none;
    }

    span {
      display: inline-block;
    }
  }
}
