.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mobile {
    flex-direction: row;
  }
}

.select {
  max-width: 400px;

  @include mobile {
    min-width: 195px;
  }
}
